.dynamic-table {
    width: 85%;
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
}

.search {
    margin: 0 25px;
    border-radius: 5px;
    padding: 3px 10px;
}

table {
    width: 100%;
    /* border: 1px solid black; */
}

.action-menu {
    display: flex;
    align-items: center;
    background-color: #1D3A8F;
    height: 50px;
}

.action-menu button {
    width: 100px;
    height: 100%;
    color: white;
    font-size: 11pt;
}

tr {
    border-bottom: 1px solid lightgrey;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    font-size: 10pt;
}

td {
    font-size: 10pt;
}